{% extends "base.html" %}

{% block content %}

<div class="my-carousel-container">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/oxford-university-library-lighting-control-1-1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/20170509_Eng_Library_DJA_012_3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/oxford-university-library-lighting-control-1-1.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>

<section class="container my-font-color py-5">
  <h1 class="my-css my-5">
    Welcome to your favorite online book library!
  </h1>

  <div>
      <p>
          Rent Books Easily, Delivered to Your Door
      </p>
    <a href="/books" class="btn btn-primary">
        Checkout our books
    </a>
  </div>

</section>

{% endblock %}