{% extends "base.html" %}

{% block content %}

<section class="container my-font-color py-5">
    <h1 class="my-css my-5">
        Renting Book
    </h1>
    <form id="rent_book_form" novalidate>

        <div class="input-group flex-nowrap my-3">
            <span class="input-group-text">Phone</span>
            <input type="text" name="phone" class="form-control" placeholder="09123456789" aria-label="Username"
                   aria-describedby="addon-wrapping">
        </div>

        <h5>
            Choose the book you want to rent!
        </h5>
        <select class="form-select" name="book_id">
            <option selected>Select book</option>
            {% for book in books %}
            <option value="{{ book.id }}">
                {{ book.title }}
            </option>
            {% endfor %}
        </select>

        <div class="d-flex py-4">
            <div class="w-50">
                <label class="form-label" for="start_date">Start Date</label>
                <input class="form-control" name="start_date" id="start_date" type="date" >
            </div>

            <div class="w-50">
                <label class="form-label" for="end_date">End Date</label>
                <input class="form-control" name="end_date" id="end_date" type="date" >
            </div>
        </div>

        <div class="d-flex align-items-start">
            <button class="btn btn-primary me-2">
                Submit Request
            </button>
            <a href="/rent" class="btn btn-success">
        Didn't SignedUp before?
    </a>
        </div>
    </form>


</section>

{% endblock %}


{% block jsScripts %}
<script>
    const rentFormEle = document.getElementById("rent_book_form");

    rentFormEle.addEventListener("submit", function (evt) {
        evt.preventDefault();

        const formData = new FormData(rentFormEle);

        const data = {
            phone: formData.get("phone"),
            book_id: formData.get("book_id"),
            start_date: formData.get("start_date"),
            end_date: formData.get("end_date"),
        }

        const options = {
            method:"POST",
            headers: {
                "Content-type": "application/json"
            },
            body: JSON.stringify(data)
        }
        fetch("http://localhost:5000/api/signed/rent", options)
            .then(res => {
                if (res.status === 201) {
                    location.href = "/rented-books"
                }if (res.status === 400) {
                    Swal.fire({
                        icon:"error",
                        title:"Customer does not exist!",
                        text:"A customer does not exist with the following number: " + data.phone,
                        footer: '<a href="/rent">Didn\'t SignedUp before?</a>'
                    })
                }
            }).catch(e => {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong!",
                footer: '<a href="/signed/rent">Try again?</a>'
            });
        })

    })
</script>
{% endblock  %}